<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Elements List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let element of elements; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveElement(element, i)"
        >
          {{ element.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllElements()">
        <i class="bi bi-trash-fill"> Remove All</i>
      </button>
    </div>
    <div class="col-md-6">
      <app-element-details
        [viewMode]="true"
        [currentElement]="currentElement"
      ></app-element-details>
    </div>
  </div>
  