<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand me-2">DDN</a>
    <ul class="navbar-nav me-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home"><i class="bi bi-house-fill"></i> </a>
      </li>
<!--       <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin"><i class="bi bi-shield-fill-exclamation">Admin</i></a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod"><i class="bi bi-shield-fill-exclamation">Moderator</i></a>
      </li> -->
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user"><i class="bi bi-file-lock-fill">List</i></a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register"><i class="bi bi-person-plus-fill">SignUp</i></a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login"><i class="bi bi-door-open-fill">Login</i></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a routerLink="add" class="nav-link"><i class="bi bi-file-earmark-plus-fill"> Add Element</i></a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a routerLink="add" class="nav-link"><i class="bi bi-file-earmark-plus-fill"> Add Element</i></a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile"><i class="bi bi-person-fill">Profile</i></a>
      </li>
      <li class="nav-item">
        <a href="/home" class="nav-link" (click)="logout()"><i class="bi bi-door-closed-fill">LogOut</i></a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>